/* =================== profile-wrapper ================== */
.profile-wrapper{
    padding-top: 100px;
    padding-bottom: 120px;
}

.profile-wrapper .profile-detail .choose-img{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0px auto;
    position: relative;
    margin-bottom: 55px !important;
    cursor: pointer;
    object-fit: cover;
    border: 4px solid var(--primary-color);
}

.profile-wrapper .profile-detail{
    max-width: 539px;
    margin: 0 auto;
}


.profile-wrapper .profile-detail .choose-img img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-wrapper .profile-detail .choose-btn {
    content: "\f303";
    position: absolute;
    font-family: "FontAwesome";
    background: var(--White);
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    font-size: 20px !important;
    cursor: pointer;
    border: 1px solid transparent;
}

.profile-wrapper .profile-detail form .email-wrp,
.profile-wrapper .profile-detail form .phone-wrp,
.profile-wrapper .profile-detail form .text-wrp
{
    margin-bottom: 40px;
}

.profile-wrapper .profile-detail form .profile-btn{
   
    gap: 20px;
}

.profile-wrapper .profile-detail form .profile-btn button{
    width: 245px;
}

.profile-wrapper .profile-detail form .profile-btn button:nth-child(2){
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: #e2a037 !important;
}
 
/* ================ responsive ===================== */
@media only screen and (max-width:1500px){
    .profile-wrapper{
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .profile-wrapper .profile-detail form .email-wrp,
    .profile-wrapper .profile-detail form .phone-wrp,
    .profile-wrapper .profile-detail form .text-wrp
    {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:1200px){
    .profile-wrapper{
        padding-top: 180px;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width:992px){
    .profile-wrapper{
        padding-top: 150px;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width:768px){
    .profile-wrapper .profile-detail form .email-wrp, .profile-wrapper .profile-detail form .phone-wrp, .profile-wrapper .profile-detail form .text-wrp {
        margin-bottom: 20px;
    }
}