/* =========== audio-book =============== */
.audio-book{
    padding-top: 100px;
    padding-bottom: 120px;
}

.audio-book .title p{
    max-width: 913px;
}

.audio-book .book-card{
    position: relative;
}

.audio-book .book-card h3{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px !important;
    font-family: var(--Inter-Medium);
    text-transform: capitalize;
    width: 100%;
    text-align: center;
}

.audio-book .book-card .book-img{
    width: 100%;
    max-width: 306px;
    height: 320px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.audio-book .book-card .book-img:hover{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.audio-book .book-card .book-img img{
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.audio-book .load-more a{
    margin-top: 65px;
}

/* ============= responsive ============ */
@media only screen and (max-width:1500px){
    .audio-book{
        padding-top: 100px;
        padding-bottom: 100px;
    } 
    
    .audio-book .book-card h3{
        font-size: 30px !important;
    }

    .audio-book .load-more a{
        margin-top: 50px;
    }
}

@media only screen and (max-width:1400px){
    .audio-book{
        padding-top: 100px;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width:1200px){
    .audio-book{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .audio-book .book-card h3{
        font-size: 25px !important;
    }

    .audio-book .book-card .book-img{
        height: 300px;
    }
}

@media only screen and (max-width:992px){
    .audio-book{
        padding-top: 50px;
        padding-bottom: 50px;
    }    

    .audio-book .load-more a{
        margin-top: 10px;
    }
}

@media only screen and (max-width:576px){
    .audio-book .book-card .book-img{
        margin: 0 auto;
    }

    .audio-book .book-card .book-img{
        height: 250px;
    }
}